canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(33, 67, 110, 0.75);
  --spacing: 200px;

  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, blockquote {
  font-weight: bold;
}

main {
  width: 100vw;
  color: rgba(255,255,255, 0.9);
  z-index: 99;
  position: absolute;
  width: 100%;
  padding: 10vh 2vw;
  
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

header {
  color: rgba(255, 193, 36,0.9);
  background-color: var(--dark-bg);
  text-align: center;
  grid-column: 2;
  font-size: 2.5rem;
  margin-bottom: 40vh;
}

section {
  grid-column: 2;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 15vh;
}

blockquote {
  grid-column: 2;
  margin: auto;
  width: 70%;
  margin-bottom: var(--spacing);
}

blockquote p {
  background: var(--dark-bg);
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  line-height: 1;
}